nav.navbar
  div.container
    .row
      .col-xs-12.col-sm-4.col-md-3.navbar__col
        .logo
          a.logo__img(href='#')
            img.img-responsive(src='img/logo/logo.png' alt='logo')
      .col-xs-12.col-sm-4.col-md-6.text-center    
        p.navbar__text Производство и продажа энергосберегающих обогревателей с доставкой по Украине  
      .col-xs-12.col-sm-4.col-md-3.pull-right
        .navbar__contact.contact
          .contact__phone
            .contact__number
              a.contact__link(href="tel:+380981285440") +38 (098) 128-54-40
            .contact__number
              a.contact__link(href="tel:+380939360818") +38 (093) 936-08-18 
            .contact__number
              a.contact__link(href="tel:+380992753363") +38 (099) 275-33-63
          <a href="#callback__modal" class="contact__btn" data-toggle="modal">Заказать обратный звонок</a>  