.social
  .social__item
    a.social__link(href='#')
      i.fa.social__icon(class='fa-instagram')
  .social__item
    a.social__link(href='#')
      i.fa.social__icon(class='fa-vk')
  .social__item
    a.social__link(href='#')
      i.fa.social__icon(class='fa-odnoklassniki')
  .social__item
    a.social__link(href='#')
      i.fa.social__icon(class='fa-paper-plane')