.social
  .social__item
    a.social__link(href='https://www.instagram.com/obigrivachi/')
      i.fa.social__icon(class='fa-instagram')
  .social__item
    a.social__link(href='https://vk.com/paneli_termoplaza')
      i.fa.social__icon(class='fa-vk')
  .social__item
    a.social__link(href='https://ok.ru/group/54940480241672')
      i.fa.social__icon(class='fa-odnoklassniki')
  .social__item
    a.social__link(href='https://telegram.me/termopIaza_bot')
      i.fa.social__icon(class='fa-paper-plane')