//- Global variables
- var domen = 'http://tagopen.com'
- var title = 'Главная страница'

//- Microformats
- var microTitle = 'My Site'
- var microSiteName = 'My Site'
- var microSiteName = 'My Site'
- var microDescription = 'My site is cool'
- var microImage = domen + '/img/logo/microformat.png'
- var microImageType ='image/png'
- var microUrl = domen