//- Global variables
- var domen = "http://tagopen.com"
- var title = "Главная страница"

//- Microformats
- var microTitle = "My Site"
- var microSiteName = "My Site"
- var microSiteName = "My Site"
- var microDescription = "My site is cool"
- var microImage = domen + "/img/logo/microformat.png"
- var microImageType ="image/png"
- var microUrl = domen

//- social links

- 
  var product1 =
    [
      {
        name: "Площадь обогрева", 
        value: "До 7 м<sup>2</sup> ( 19 м<sup>3</sup>)"
      }, 
      {
        name: "Габариты обогревателя(Д× В× Ш)", 
        value: "49 x 49 x 4 см"
      }, 
      {
        name: "Тип обогрева", 
        value: "Инфракрасный, конвекционный"
      }, 
      {
        name: "Температура нагрева", 
        value: "82 <sup>о</sup>С (+-5 <sup>о</sup>С)"
      }, 
      {
        name: "Степень защиты", 
        value: "ІР21"
      }, 
      {
        name: "Гарантия", 
        value: "24 месяца"
      }, 
      {
        name: "Срок эксплуатации", 
        value: "25 лет"
      }, 
      {
        name: "Материал корпуса", 
        value: "Металл"
      }, 
      {
        name: "Внешнее покрытие", 
        value: "Итальянская краска ECOLABLE"
      }, 
      {
        name: "Длинна кабеля", 
        value: "1,5 метра с вилкой"
      }, 
      {
        name: "Крепления в комплекте", 
        value: "Настенные и напольные"
      }
    ]

- 
  var product2 = 
    [
      {
        name: "Площадь обогрева", 
        value: "До 10 м<sup>2</sup> ( 27 м<sup>3</sup>)"
      }, 
      {
        name: "Габариты обогревателя(Д× В× Ш)", 
        value: "87 x 49 x 4 см"
      }, 
      {
        name: "Тип обогрева", 
        value: "Инфракрасный, конвекционный"
      }, 
      {
        name: "Температура нагрева", 
        value: "82 <sup>о</sup>С (+-5 <sup>о</sup>С)"}, 
      {
        name: "Степень защиты", 
        value: "ІР21"
      }, 
      {
        name: "Гарантия", 
        value: "24 месяца"
      }, 
      {
        name: "Срок эксплуатации", 
        value: "25 лет"
      }, 
      {
        name: "Материал корпуса", 
        value: "Металл"
      }, 
      {
        name: "Внешнее покрытие", 
        value: "Итальянская краска ECOLABLE"
      }, 
      {
        name: "Длинна кабеля", 
        value: "1,5 метра с вилкой"
      }, 
      {
        name: "Крепления в комплекте", 
        value: "Настенные и напольные"
      }
    ]

- 
  var product3 = 
    [
      {
        name: "Площадь обогрева", 
        value: "До 14 м<sup>2</sup> ( 38 м<sup>3</sup>)"
      }, 
      {
        name: "Габариты обогревателя(Д× В× Ш)", 
        value: "107 x 49 x 4 см"
      }, 
      {
        name: "Тип обогрева", 
        value: "Инфракрасный, конвекционный"
      }, 
      {
        name: "Температура нагрева", 
        value: "82 <sup>о</sup>С (+-5 <sup>о</sup>С)"
      }, 
      {
        name: "Степень защиты", 
        value: "ІР21"
      }, 
      {
        name: "Гарантия", 
        value: "24 месяца"
      }, 
      {
        name: "Срок эксплуатации", 
        value: "25 лет"
      }, 
      {
        name: "Материал корпуса", 
        value: "Металл"
      }, 
      {
        name: "Внешнее покрытие", 
        value: "Итальянская краска ECOLABLE"
      }, 
      {
        name: "Длинна кабеля", 
        value: "1,5 метра с вилкой"
      }, 
      {
        name: "Крепления в комплекте", 
        value: "Настенные и напольные"
      }
    ]

- 
  var product4 =
    [
      {
        name: "Площадь обогрева", 
        value: "До 20 м<sup>2</sup> ( 54 м<sup>3</sup>)"
      }, 
      {
        name: "Габариты обогревателя(Д× В× Ш)", 
        value: "128 x 49 x 4 см"
      }, 
      {
        name: "Тип обогрева", 
        value: "Инфракрасный, конвекционный"
      }, 
      {
        name: "Температура нагрева", 
        value: "82 <sup>о</sup>С (+-5 <sup>о</sup>С)"
      }, 
      {
        name: "Степень защиты", 
        value: "ІР21"
      }, 
      {
        name: "Гарантия", 
        value: "24 месяца"
      }, 
      {
        name: "Срок эксплуатации", 
        value: "25 лет"
      }, 
      {
        name: "Материал корпуса", 
        value: "Металл"
      }, 
      {
        name: "Внешнее покрытие", 
        value: "Итальянская краска ECOLABLE"
      }, 
      {
        name: "Длинна кабеля", 
        value: "1,5 метра с вилкой"
      }, 
      {
        name: "Крепления в комплекте", 
        value: "Настенные и напольные"
      }
    ]

- 
  var product5 =
    [
      {
        name: "Площадь обогрева", 
        value: "До 7 м<sup>2</sup> ( 19 м<sup>3</sup>)"
      }, 
      {
        name: "Габариты обогревателя(Д× В× Ш)", 
        value: "49 x 49 x 4 см"
      }, 
      {
        name: "Тип обогрева", 
        value: "Инфракрасный, конвекционный"
      }, 
      {
        name: "Температура нагрева", 
        value: "82 <sup>о</sup>С (+-5 <sup>о</sup>С)"
      }, 
      {
        name: "Степень защиты", 
        value: "ІР21"
      }, 
      {
        name: "Гарантия", 
        value: "24 месяца"
      }, 
      {
        name: "Срок эксплуатации", 
        value: "25 лет"
      }, 
      {
        name: "Материал корпуса", 
        value: "Металл"
      }, 
      {
        name: "Внешнее покрытие", 
        value: "Итальянская краска ECOLABLE"
      }, 
      {
        name: "Длинна кабеля", 
        value: "1,5 метра с вилкой"
      }, 
      {
        name: "Крепления в комплекте", 
        value: "Настенные и напольные"
      }
    ]

- 
  var product6 =
    [
      {
        name: "Площадь обогрева", 
        value: "До 10 м<sup>2</sup> ( 27 м<sup>3</sup>)"
      }, 
      {
        name: "Габариты обогревателя(Д× В× Ш)", 
        value: "87 x 49 x 4 см"
      }, 
      {
        name: "Тип обогрева", 
        value: "Инфракрасный, конвекционный"
      }, 
      {
        name: "Температура нагрева", 
        value: "82 <sup>о</sup>С (+-5 <sup>о</sup>С)"
      }, 
      {
        name: "Степень защиты", 
        value: "ІР21"
      }, 
      {
        name: "Гарантия", 
        value: "24 месяца"
      }, 
      {
        name: "Срок эксплуатации", 
        value: "25 лет"
      }, 
      {
        name: "Материал корпуса", 
        value: "Металл"
      }, 
      {
        name: "Внешнее покрытие", 
        value: "Итальянская краска ECOLABLE"
      }, 
      {
        name: "Длинна кабеля", 
        value: "1,5 метра с вилкой"
      }, 
      {
        name: "Крепления в комплекте", 
        value: "Настенные и напольные"
      }
    ]

- 
  var product7 =
    [
      {
        name: "Площадь обогрева", 
        value: "До 14 м<sup>2</sup> ( 38 м<sup>3</sup>)"
      }, 
      {
        name: "Габариты обогревателя(Д× В× Ш)", 
        value: "107 x 49 x 4 см"
      }, 
      {
        name: "Тип обогрева", 
        value: "Инфракрасный, конвекционный"
      }, 
      {
        name: "Температура нагрева", 
        value: "82 <sup>о</sup>С (+-5 <sup>о</sup>С)"
      }, 
      {
        name: "Степень защиты", 
        value: "ІР21"
      }, 
      {
        name: "Гарантия", 
        value: "24 месяца"
      }, 
      {
        name: "Срок эксплуатации", 
        value: "25 лет"
      }, 
      {
        name: "Материал корпуса", 
        value: "Металл"
      }, 
      {
        name: "Внешнее покрытие", 
        value: "Итальянская краска ECOLABLE"
      }, 
      {
        name: "Длинна кабеля", 
        value: "1,5 метра с вилкой"
      }, 
      {
        name: "Крепления в комплекте", 
        value: "Настенные и напольные"
      }
    ]

- 
  var product8 =
    [
      {
        name: "Площадь обогрева", 
        value: "До 20 м<sup>2</sup> ( 54 м<sup>3</sup>)"
      }, 
      {
        name: "Габариты обогревателя(Д× В× Ш)", 
        value: "128 x 49 x 4 см"
      }, 
      {
        name: "Тип обогрева", 
        value: "Инфракрасный, конвекционный"
      }, 
      {
        name: "Температура нагрева", 
        value: "82 <sup>о</sup>С (+-5 <sup>о</sup>С)"
      }, 
      {
        name: "Степень защиты", 
        value: "ІР21"
      }, 
      {
        name: "Гарантия", 
        value: "24 месяца"
      }, 
      {
        name: "Срок эксплуатации", 
        value: "25 лет"
      }, 
      {
        name: "Материал корпуса", 
        value: "Металл"
      }, 
      {
        name: "Внешнее покрытие", 
        value: "Итальянская краска ECOLABLE"
      }, 
      {
        name: "Длинна кабеля", 
        value: "1,5 метра с вилкой"
      }, 
      {
        name: "Крепления в комплекте", 
        value: "Настенные и напольные"
      }
    ]
