section.about
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
        h2.heading.about__heading В каких случаях используют панели Termoplaza    
    .row
      .col-xs-6.col-sm-3
        .about__box.about__box--1
          a.about__link.about__link--1(href="#about__modal", data-toggle="modal")
            .about__info
              p.about__text Как основное отопление 
      .col-xs-6.col-sm-3
        .about__box.about__box--2.about__box--position
          a.about__link.about__link--2(href="#about__modal", data-toggle="modal")
            .about__info
              p.about__text Как дополнительное отопление  
      .col-xs-6.col-sm-3
        .about__box.about__box--3
          a.about__link.about__link--3(href="#about__modal", data-toggle="modal")
            .about__info
              p.about__text В офисах
      .col-xs-6.col-sm-3
        .about__box.about__box--4.about__box--position
          a.about__link.about__link--4(href="#about__modal", data-toggle="modal")
            .about__info
              p.about__text В квартирах
    .row        
      .col-xs-6.col-sm-3
        .about__box.about__box--5
          a.about__link.about__link--5(href="#about__modal", data-toggle="modal")
            .about__info
              p.about__text В частном доме
      .col-xs-6.col-sm-3
        .about__box.about__box--6.about__box--position
          a.about__link.about__link--6(href="#about__modal", data-toggle="modal")
            .about__info
              p.about__text На даче
      .col-xs-6.col-sm-3
        .about__box.about__box--7
          a.about__link.about__link--7(href="#about__modal", data-toggle="modal")
            .about__info
              p.about__text На предприятии  
      .col-xs-6.col-sm-3
        .about__box.about__box--8.about__box--position
          a.about__link.about__link--8(href="#about__modal", data-toggle="modal")
            .about__info
              p.about__text В больших промышленных помещениях  