section.comment
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
        .heading.comment__heading Отзывы наших покупателей
    .row
      .col-xs-12
        .comment__slider
          .comment__item
            .comment__img
              img.img-responsive(src='img/comment1.png' alt='комментатор фото')
            .comment__text 
              .comment__name Олег Марчук    
              | У меня на даче уже стоят три панели с терморегулятором Tessla и в холод нужно было поддерживать температуру в доме. Автономно поддерживали температуру в доме до +12!
          .comment__item 
            .comment__img
              img.img-responsive(src='img/comment2.png' alt='комментатор фото')
            .comment__text 
              .comment__name Олег Марчук    
              | У меня на даче уже стоят три панели с терморегулятором Tessla и в холод нужно было поддерживать температуру в доме. Автономно поддерживали температуру в доме до +12!    
          .comment__item 
            .comment__img
              img.img-responsive(src='img/comment3.png' alt='комментатор фото')
            .comment__text 
              .comment__name Олег Марчук    
              | У меня на даче уже стоят три панели с терморегулятором Tessla и в холод нужно было поддерживать температуру в доме. Автономно поддерживали температуру в доме до +12!    
          .comment__item 
            .comment__img
              img.img-responsive(src='img/comment1.png' alt='комментатор фото')
            .comment__text 
              .comment__name Олег Марчук    
              | У меня на даче уже стоят три панели с терморегулятором Tessla и в холод нужно было поддерживать температуру в доме. Автономно поддерживали температуру в доме до +12!    
          .comment__item 
            .comment__img
              img.img-responsive(src='img/comment2.png' alt='комментатор фото')
            .comment__text 
              .comment__name Олег Марчук    
              | У меня на даче уже стоят три панели с терморегулятором Tessla и в холод нужно было поддерживать температуру в доме. Автономно поддерживали температуру в доме до +12!    