section.comment
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
        .heading.comment__heading Отзывы наших покупателей
    .row
      .col-xs-12
        .comment__slider
          .comment__item
            .comment__img
              img.img-responsive(src='img/comment1.png' alt='Татьяна Шаповал')
            .comment__text 
              .comment__name Татьяна Шаповал 
              | У нас 4-х комнатная квартира.Перешли на эл.отопление с вашими обогревателями. Радуемся и не жалеем нисколько!За ноябрь пришел счет за эл.энергию 740 грн. Дай Бог вам всем здоровья,а вашему предприятию процветания!
              a.comment__link(href='https://vk.com/id353921384') https://vk.com/id353921384
          .comment__item 
            .comment__img
              img.img-responsive(src='img/comment2.png' alt='Виктор Лазаренко ')
            .comment__text 
              .comment__name Виктор Лазаренко   
              | Купив 3 обігрівачі. Ось, захотілося поділитися з вами своїм "винаходом" для ще БІЛЬШОЇ економії. Це дуже просто - ось так кріпиться плитка до обігрівача.  Час охолодження заростає в рази. В минають через таймер. По 15 хв. 15 працює, 15 НЕ працює, але гріє за рахунок інертності. В результаті потреба електроенергії в два рази менша :)
              a.comment__link(href='https://www.facebook.com/vvl.lazarenko') https://www.facebook.com/vvl.lazarenko    
          .comment__item 
            .comment__img
              img.img-responsive(src='img/comment3.png' alt='Олег Марчук')
            .comment__text 
              .comment__name Олег Марчук    
              | У меня на даче уже стоят три панели с терморегулятором Tessla и в холод нужно было поддерживать температуру в доме. Автономно поддерживали температуру в доме до +12!
              a.comment__link(href='https://www.facebook.com/oleg.marchuk.7') https://www.facebook.com/oleg.marchuk.7  
          .comment__item 
            .comment__img
              img.img-responsive(src='img/comment4.png' alt='Олег Монастырский')
            .comment__text 
              .comment__name Олег Монастырский   
              | TermoPlaza 225 - малая, а греет как БОЛЬШАЯ. Правильно сделал что купил!
              a.comment__link(href='https://vk.com/id257462356') https://vk.com/id257462356   
          .comment__item 
            .comment__img
              img.img-responsive(src='img/comment5.png' alt='Лариса Мартынова')
            .comment__text 
              .comment__name Лариса Мартынова 
              | Спасибо! Как раз то, что нужно! Замурчательно!   
              a.comment__link(href='https://vk.com/id133367440') https://vk.com/id133367440








