section.condition
  .container
    .row
      .col-xs-12.col-lg-10.col-lg-offset-1.text-center
        h2.heading Выгодные условия покупки
      .col-xs-12.col-sm-6
        .service
          .service__img
            img.img-responsive(src='img/service1.png' alt='service')
          p.service__name Мгновенная рассрочка от Приват Банка
          p.service__text Описание условий рассрочки для клиентов
          button.btn.button.service__btn Воспользоваться предложением
      .col-xs-12.col-sm-6
        .service
          .service__img
            img.img-responsive(src='img/service2.png' alt='service')
          p.service__name Мгновенная рассрочка от Приват Банка
          p.service__text Описание условий рассрочки для клиентов
          button.btn.button.service__btn Воспользоваться предложением    
