section.cost
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
        h2.heading.cost__heading Получите индивидуальный рассчет для помещений более 20м
          sup 2
        button.btn.button.cost__btn Рассчитать стоимость отопления  