section.intro
  .container
    .row
      .col-xs-12.col-sm-7.intro__col   
        h2.heading.intro__heading.heading--color-white Наиболее эффективный вид обогрева на рынке Украины
      .col-xs-12.col-sm-5 
        .intro__image
          img.img-responsive(src='img/termo1.png' alt='termo1')
      .col-xs-12.col-sm-7.intro__col 
        p.intro__text В панелях Termoplaza установлен <b>немецкий обогревательный элемент</b>. Благодаря ему электроэнергия преобразуется в тепло <b>на 300% эффективнее</b>, чем у аналогов
    .row
      .col-xs-12.col-sm-7   
        h2.heading.intro__heading.heading--color-white Пожаробезопасные
      .col-xs-12.col-sm-5.intro__col 
        .intro__image
          img.img-responsive(src='img/termo2.png' alt='termo1')
      .col-xs-12.col-sm-7
        p.intro__text Наши панели <b>прошли 31 испытание на безопасность</b>. Это подтверждено множеством сертификатов, которые мы можем предоставить. Обогреватели Termoplaza <b>не оставляют ожогов!</b>
                   