section.material
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3.text-center
        h2.heading.material__heading 4 факта о панелях TERMOPLAZA
    .fact
      .row
        .col-xs-12.col-sm-6  
          .fact__box.fact__box--1 
            .fact__image.fact__image--1
        .col-xs-12.col-sm-6
          .fact__content
            .fact__text Панели Termoplaza маломощные, поэтому они до 3х раз окономичней других аналогов  
              .fact__number 1
    .fact
      .row
        .col-xs-12.col-sm-6.fact__col  
          .fact__box.fact__box--2.fact__box--border-right
            .fact__image.fact__image--2
        .col-xs-12.col-sm-6
          .fact__content
            .fact__text Если после покупки у вас возникают проблемы с нашей продукцией - мы поможем вам найти решение или вернем деньги!  
              .fact__number.fact__number--right 2    
    .fact
      .row
        .col-xs-12.col-sm-6  
          .fact__box.fact__box--3
            .fact__image.fact__image--3
        .col-xs-12.col-sm-6
          .fact__content
            .fact__text Легко установить. Панель нужно поставить на ножки и включить в розетку. Ножки присутствуют в комплекте  
              .fact__number 3     
    .fact
      .row
        .col-xs-12.col-sm-6.fact__col  
          .fact__box.fact__box--4.fact__box--border-right
            .fact__image.fact__image--4  
        .col-xs-12.col-sm-6
          .fact__content
            .fact__text Сроки эксплуатации обогревателя более 25-30 лет.
              .fact__number.fact__number--right 4