section.quality
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.text-center
        h2.heading.quality__heading Высокое качество продукции
    .row
      .col-xs-12.col-sm-6
        .quality__item.quality__item--1
          .quality__text Можно использовать как основное источник отопления
      .col-xs-12.col-sm-6
        .quality__item.quality__item--2
          .quality__text Производство в городе Киев с 2009 года
      .col-xs-12.col-sm-6
        .quality__item.quality__item--3
          .quality__text Итальянская шероховато-матовая краска придает элитного вида
      .col-xs-12.col-sm-6
        .quality__item.quality__item--4 
          .quality__text Мы получили 26 сертификатов качества и прошли 31 испытание на безопасность        