.scheme
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1
        h2.heading.scheme__heading Как работает обогреватель?
        .scheme__subheading 
          span.scheme__subheading--span TERMOPLAZA
          |  - Работает по принципу 2 в 1, совмещая мягкое инфракрасное тепло и естественную конвекцию воздуха, что в свою очередь увеличивает эффективность прогрева
      .col-xs-12
        .scheme__img
          img.img-responsive(src='img/scheme.png' alt='scheme')   