section.sort
  .container   
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
        h2.heading.sort__heading Интеллектуальные панели Termoplaza STP
      .col-xs-12.col-sm-10.col-sm-offset-1
        .sort__subheading Встроенный недельный программатор позволяет выставить часы, дни работы и температуру нагрева панели и помещения, исходя из ваших требований 24/7                  
    .row.sort__row      
      .col-xs-12.col-sm-6
        .product.product--group2
          .row
            .col-xs-6
              .product__name TermoPlaza STP 225
              .product__thumbnail 
                a.product__link.fancyimage.product__link--big(data-fancybox-group="group5" href="img/product51-big.png")
                  img.img-responsive.product__img.product__img--white(src='img/product51.png' alt='TermoPlaza STP 255')
                a.product__link.fancyimage.product__link--big(data-fancybox-group="group5" href="img/product51-black-big.png")
                  img.hidden.img-responsive.product__img.product__img--black.hidden(src='img/product51-black.png' alt='TermoPlaza STP 255')
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__old  1995 грн
                  p.price__text Цена со скидкой:
                    span.price__new  1495 грн
                  p.price__text Экономия: 
                    span.price__discount 500 грн (27%)
                .product__descr.description
                  .description__item 
                    span.description__text 255 
                    | Ватт потребление в час 
                  .description__item 
                    span.description__text 7м
                      sup 2 
                    | площадь обогрева 
                  .description__item 
                    span.description__text 5 кг 
                    | вес обогревателя 
                  .description__item 
                    span.description__text 2,39 
                    | грн в среднем за день
                a.product__all(href="#product5", data-toggle='modal') Все характеристики
                .product__status Товар в наличии и готов к отправке
                .product__btn-group
                  .radio.product__radio
                    input.product__radio-input(name="product5" id="product51"  type="radio" data-color='black')
                    label.product__radio-label(for="product51")  
                      span.product__radio-icon.product__radio-icon--black
                  .radio.product__radio
                    input.product__radio-input(name="product5" id="product52" type="radio" data-color='white')
                    label.product__radio-label(for="product52")  
                      span.product__radio-icon.product__radio-icon--white 
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить                   
      .col-xs-12.col-sm-6
        .product.product--group2
          .row
            .col-xs-6
              .product__name TermoPlaza STP 375
              .product__thumbnail 
                a.product__link.fancyimage.product__link--big(data-fancybox-group="group6" href="img/product61-big.png")
                  img.img-responsive.product__img.product__img--white(src='img/product61.png' alt='TermoPlaza STP 375')
                a.product__link.fancyimage.product__link--big(data-fancybox-group="group6" href="img/product61-black-big.png")
                  img.hidden.img-responsive.product__img.product__img--black.hidden(src='img/product61-black.png' alt='TermoPlaza STP 375')
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__old  2617 грн
                  p.price__text Цена со скидкой:
                    span.price__new  1895 грн
                  p.price__text Экономия:
                    span.price__discount 723 грн (27%)
                .product__descr.description
                  .description__item 
                    span.description__text 375 
                    | Ватт потребление в час 
                  .description__item 
                    span.description__text 10м
                      sup 2 
                    | площадь обогрева 
                  .description__item 
                    span.description__text 7 кг 
                    | вес обогревателя 
                  .description__item 
                    span.description__text 3,92 
                    | грн в среднем за день
                a.product__all(href="#product6", data-toggle='modal') Все характеристики
                .product__status Товар в наличии и готов к отправке
                .product__btn-group
                  .radio.product__radio
                    input.product__radio-input(name="product6" id="product61"  type="radio" data-color='black')
                    label.product__radio-label(for="product61")  
                      span.product__radio-icon.product__radio-icon--black
                  .radio.product__radio
                    input.product__radio-input(name="product6" id="product62" type="radio" data-color='white')
                    label.product__radio-label(for="product62")  
                      span.product__radio-icon.product__radio-icon--white 
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить   
      .col-xs-12.col-sm-6
        .product.product--group2
          .row
            .col-xs-6
              .product__name Termoplaza STP 475
              .product__thumbnail 
                a.product__link.fancyimage.product__link--big(data-fancybox-group="group7" href="img/product71-big.png")
                  img.img-responsive.product__img.product__img--white(src='img/product71.png' alt='Termoplaza 475')
                a.product__link.fancyimage.product__link--big(data-fancybox-group="group7" href="img/product71-black-big.png")
                  img.hidden.img-responsive.product__img.product__img--black.hidden(src='img/product71-black.png' alt='Termoplaza 475')
                .product__image
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__old  2994 грн
                  p.price__text Цена со скидкой:
                    span.price__new  2195 грн
                  p.price__text Экономия: 
                    span.price__discount 799 грн (27%)
                .product__descr.description
                  .description__item 
                    span.description__text 475 
                    | Ватт потребление в час 
                  .description__item 
                    span.description__text 14м
                      sup 2 
                    | площадь обогрева 
                  .description__item 
                    span.description__text 8.5 кг 
                    | вес обогревателя 
                  .description__item 
                    span.description__text 4.95 
                    | грн в среднем за день
                a.product__all(href="#product7", data-toggle='modal') Все характеристики
                .product__status Товар в наличии и готов к отправке
                .product__btn-group
                  .radio.product__radio
                    input.product__radio-input(name="product7" id="product71" type="radio" data-color='black')
                    label.product__radio-label(for="product71")  
                      span.product__radio-icon.product__radio-icon--black
                  .radio.product__radio
                    input.product__radio-input(name="product7" id="product72" type="radio" data-color='white')
                    label.product__radio-label(for="product72")
                      span.product__radio-icon.product__radio-icon--white 
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить          
      .col-xs-12.col-sm-6
        .product.product--group2
          .row
            .col-xs-6
              .product__name Termoplaza STP 700
              .product__thumbnail 
                a.product__link.fancyimage.product__link--big(data-fancybox-group="group8" href="img/product81-big.png")
                  img.img-responsive.product__img.product__img--white(src='img/product81.png' alt='Termoplaza 700')
                a.product__link.fancyimage.product__link--big(data-fancybox-group="group8" href="img/product81-black-big.png")
                  img.hidden.img-responsive.product__img.product__img--black.hidden(src='img/product81-black.png' alt='Termoplaza 700')
                .product__image
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__old  3369 грн
                  p.price__text Цена со скидкой:
                    span.price__new  2495 грн
                  p.price__text Экономия: 
                    span.price__discount 874 грн (27%)
                .product__descr.description
                  .description__item 
                    span.description__text 700 
                    | Ватт потребление в час 
                  .description__item 
                    span.description__text 20м
                      sup 2 
                    | площадь обогрева 
                  .description__item 
                    span.description__text 10 кг 
                    | вес обогревателя 
                  .description__item 
                    span.description__text 7.28 
                    | грн в среднем за день
                a.product__all(href="#product8", data-toggle='modal') Все характеристики
                .product__status Товар в наличии и готов к отправке
                .product__btn-group
                  .radio.product__radio
                    input.product__radio-input(name="product8" id="product81"  type="radio" data-color='black')
                    label.product__radio-label(for="product81")  
                      span.product__radio-icon.product__radio-icon--black
                  .radio.product__radio
                    input.product__radio-input(name="product8" id="product82" type="radio" data-color='white')
                    label.product__radio-label(for="product82")  
                      span.product__radio-icon.product__radio-icon--white 
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить  