section.sort
  .container
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
        h2.heading.sort__heading Серия обогревателей Termoplaza Classic  
      .col-xs-12.col-sm-10.col-sm-offset-1
        .sort__subheading На корпусе отсутствуют лишние конструктивные элементы, что обеспечивают долговечность до 30 лет
    .row.sort__row
      .col-xs-12.col-sm-6
        .product.product--group1
          .row
            .col-xs-6
              .product__name Termoplaza 255
              .product__thumbnail 
                a.product__link.product__link--big(data-fancybox-group="group" href="img/product1.png")
                  img.img-responsive(src='img/product1.png' alt='sort img')
                .product__images
                  a.product__link(data-fancybox-group="group" href="img/product1.png")
                    img.img-responsive(src='img/product1.png' alt='sort img')
                  a.product__link(data-fancybox-group="group" href="img/product1.png")
                    img.img-responsive(src='img/product1.png' alt='sort img')
                  a.product__link(data-fancybox-group="group" href="img/product1.png")
                    img.img-responsive(src='img/product1.png' alt='sort img')
                  a.product__link(data-fancybox-group="group" href="img/product1.png")
                    img.img-responsive(src='img/product1.png' alt='sort img')
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__old  1200 грн
                  p.price__text Цена со скидкой:
                    span.price__new  975 грн
                  p.price__text Экономия: 
                    span.price__discount 245 грн (20%)
                .product__descr.description
                  .description__item 
                    span.description__text 255 
                    | Ват потребление в час 
                  .description__item 
                    span.description__text 7м
                      sup 2 
                    | площадь обогрева 
                  .description__item 
                    span.description__text 5 кг 
                    | вес обогревателя 
                  .description__item 
                    span.description__text 2,39 
                    | грн в среднем за день
                a.product__all(href="#") Все характеристики
                .product__status Товар в наличии и готов к отправке
                .product__btn-group
                  .radio.product__radio
                    input.product__radio-input(name="amount" id="rbtn1" checked="" type="radio")
                    label.product__radio-label(for="rbtn1")  
                      span.product__radio-icon.product__radio-icon--black
                  .radio.product__radio
                    input.product__radio-input(name="amount" id="rbtn2" type="radio")
                    label.product__radio-label(for="rbtn2")  
                      span.product__radio-icon.product__radio-icon--white 
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить                   
      .col-xs-12.col-sm-6
        .product.product--group1
          .row
            .col-xs-6
              .product__name Termoplaza 375
              .product__thumbnail 
                a.fancyimage.product__image(data-fancybox-group="group" href="img/product2.png")
                  img.img-responsive(src='img/product2.png' alt='sort img')
                .product__image
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__old  1595 грн
                  p.price__text Цена со скидкой:
                    span.price__new  1275 грн
                  p.price__text Экономия: 
                    span.price__discount 320 грн (20%)
                .product__descr.description
                  .description__item 
                    span.description__text 355 
                    | Ват потребление в час 
                  .description__item 
                    span.description__text 7м
                      sup 2 
                    | площадь обогрева 
                  .description__item 
                    span.description__text 10 кг 
                    | вес обогревателя 
                  .description__item 
                    span.description__text 3,92 
                    | грн в среднем за день
                a.product__all(href="#") Все характеристики
                .product__status Товар в наличии и готов к отправке
                .product__btn-group
                  .radio.product__radio
                    input.product__radio-input(name="amount" id="rbtn1" checked="" type="radio")
                    label.product__radio-label(for="rbtn1")  
                      span.product__radio-icon.product__radio-icon--black
                  .radio.product__radio
                    input.product__radio-input(name="amount" id="rbtn2" type="radio")
                    label.product__radio-label(for="rbtn2")  
                      span.product__radio-icon.product__radio-icon--white 
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить    
      .col-xs-12.col-sm-6
        .product.product--group1
          .row
            .col-xs-6
              .product__name Termoplaza 475
              .product__thumbnail 
                a.fancyimage.product__image(data-fancybox-group="group" href="img/product3.png")
                  img.img-responsive(src='img/product3.png' alt='sort img')
                .product__image
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__old  1970 грн
                  p.price__text Цена со скидкой:
                    span.price__new  1575 грн
                  p.price__text Экономия: 
                    span.price__discount 395 грн (20%)
                .product__descr.description
                  .description__item 
                    span.description__text 475 
                    | Ват потребление в час 
                  .description__item 
                    span.description__text 14м
                      sup 2 
                    | площадь обогрева 
                  .description__item 
                    span.description__text 8.5 кг 
                    | вес обогревателя 
                  .description__item 
                    span.description__text 4.95 
                    | грн в среднем за день
                a.product__all(href="#") Все характеристики
                .product__status Товар в наличии и готов к отправке
                .product__btn-group
                  .radio.product__radio
                    input.product__radio-input(name="amount" id="rbtn1" checked="" type="radio")
                    label.product__radio-label(for="rbtn1")  
                      span.product__radio-icon.product__radio-icon--black
                  .radio.product__radio
                    input.product__radio-input(name="amount" id="rbtn2" type="radio")
                    label.product__radio-label(for="rbtn2")  
                      span.product__radio-icon.product__radio-icon--white 
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить          
      .col-xs-12.col-sm-6
        .product.product--group1
          .row
            .col-xs-6
              .product__name Termoplaza 700
              .product__thumbnail 
                a.fancyimage.product__image(data-fancybox-group="group" href="img/product4.png")
                  img.img-responsive(src='img/product4.png' alt='sort img')
                .product__image
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__old  2345 грн
                  p.price__text Цена со скидкой:
                    span.price__new  1875 грн
                  p.price__text Экономия: 
                    span.price__discount 470 грн (20%)
                .product__descr.description
                  .description__item 
                    span.description__text 700 
                    | Ват потребление в час 
                  .description__item 
                    span.description__text 20м
                      sup 2 
                    | площадь обогрева 
                  .description__item 
                    span.description__text 10 кг 
                    | вес обогревателя 
                  .description__item 
                    span.description__text 7.28 
                    | грн в среднем за день
                a.product__all(href="#") Все характеристики
                .product__status Товар в наличии и готов к отправке
                .product__btn-group
                  .radio.product__radio
                    input.product__radio-input(name="amount" id="rbtn1" checked="" type="radio")
                    label.product__radio-label(for="rbtn1")  
                      span.product__radio-icon.product__radio-icon--black
                  .radio.product__radio
                    input.product__radio-input(name="amount" id="rbtn2" type="radio")
                    label.product__radio-label(for="rbtn2")  
                      span.product__radio-icon.product__radio-icon--white 
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить    