section.sort
  .container   
    .row
      .col-xs-12.col-sm-8.col-sm-offset-2.col-lg-6.col-lg-offset-3
        h2.heading.sort__heading Терморегуляторы
      .col-xs-12.col-sm-10.col-sm-offset-1
        .sort__subheading Терморегуляторы позволяют экономнее расходовать электроэнергию            
    .row.sort__row      
      .col-xs-12.col-sm-6
        .product.product--group3
          .row
            .col-xs-12
              .product__name Механический терморегулятор Cewal RQ
            .col-xs-6
              .product__thumbnail 
                a.fancyimage.product__image(data-fancybox-group="group9" href="img/product91-big.png")
                  img.img-responsive(src='img/product91.png' alt='Механический терморегулятор Cewal RQ')
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__new  299 грн
                .product__descr.description
                  .description__item 
                    span.description__text 
                      i.fa.fa-check(aria-hidden="true") 
                    |  монтаж на стену
                  .description__item 
                    span.description__text 
                      i.fa.fa-check(aria-hidden="true")
                    |  напряжение: 220В ± 10% 
                  .description__item 
                    span.description__text
                      i.fa.fa-check(aria-hidden="true")
                    |  максимальная сила тока 16А
                  .description__item 
                    span.description__text
                      i.fa.fa-check(aria-hidden="true")
                    |  гарантия 1 год
                a.product__all(href="http://newl.com.ua/files/rq.pdf" target='_blank') Все характеристики
                .product__status Товар в наличии и готов к отправке
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить                  
      .col-xs-12.col-sm-6
        .product.product--group3
          .row
            .col-xs-12
              .product__name Терморегулятор розеточного типа Tessla TR
            .col-xs-6 
              .product__thumbnail 
                a.fancyimage.product__image(data-fancybox-group="group9" href="ismg/product101-big.png")
                  img.img-responsive(src='img/product101.png' alt='Терморегулятор розеточного типа Tessla TR')
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__new  495 грн
                .product__descr.description
                  .description__item 
                    span.description__text 
                      i.fa.fa-check(aria-hidden="true") 
                    |  монтаж не требуется
                  .description__item 
                    span.description__text 
                      i.fa.fa-check(aria-hidden="true")  
                    |  напряжение: 220В ± 10% 
                  .description__item 
                    span.description__text
                      i.fa.fa-check(aria-hidden="true")  
                    |  максимальная сила тока 16А
                  .description__item 
                    span.description__text
                      i.fa.fa-check(aria-hidden="true") 
                    |  гарантия 5 лет
                a.product__all(href="http://newl.com.ua/files/Tessla.pdf" target='_blank') Все характеристики
                .product__status Товар в наличии и готов к отправке
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить   
      .col-xs-12.col-sm-6
        .product.product--group3
          .row
            .col-xs-12
              .product__name Недельный программатор Tessla TRW
            .col-xs-6
              .product__thumbnail 
                a.fancyimage.product__image(data-fancybox-group="group9" href="img/product111-big.png")
                  img.img-responsive(src='img/product111.png' alt='Недельный программатор Tessla TRW')
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__new  595 грн
                .product__descr.description
                  .description__item 
                    span.description__text 
                      i.fa.fa-check(aria-hidden="true") 
                    |  монтаж не требуется
                  .description__item 
                    span.description__text 
                      i.fa.fa-check(aria-hidden="true")  
                    |  напряжение: 220В ± 10% 
                  .description__item 
                    span.description__text
                      i.fa.fa-check(aria-hidden="true")  
                    |  максимальная сила тока 16А
                  .description__item 
                    span.description__text
                      i.fa.fa-check(aria-hidden="true") 
                    |  гарантия 5 лет
                a.product__all(href="http://newl.com.ua/files/TRW.pdf" target='_blank') Все характеристики
                .product__status Товар в наличии и готов к отправке
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить           
      .col-xs-12.col-sm-6
        .product.product--group3
          .row
            .col-xs-12
              .product__name Дистанционный Программатор Tessla TR WIFI
            .col-xs-6
              .product__thumbnail 
                a.fancyimage.product__image(data-fancybox-group="group9" href="img/product121-big.png")
                  img.img-responsive(src='img/product121.png' alt='Дистанционный Программатор Tessla TR WIFI')
                .product__image
            .col-xs-6
              .product__content
                .product__price.price
                  p.price__text Цена:
                    span.price__new  849 грн
                .product__descr.description
                  .description__item 
                    span.description__text 
                      i.fa.fa-check(aria-hidden="true") 
                    |  монтаж не требуется
                  .description__item 
                    span.description__text 
                      i.fa.fa-check(aria-hidden="true")  
                    |  напряжение: 220В ± 10% 
                  .description__item 
                    span.description__text
                      i.fa.fa-check(aria-hidden="true")  
                    |  максимальная сила тока 16А
                  .description__item 
                    span.description__text
                      i.fa.fa-check(aria-hidden="true") 
                    |  гарантия 5 лет
                a.product__all(href="http://newl.com.ua/files/TRWi-Fi.pdf" target='_blank') Все характеристики
                .product__status Товар в наличии и готов к отправке
                button.btn.button.product__btn(data-toggle='modal', data-target='#product__modal') Купить  