section.hidden-xs.table-ttx
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1
        h2.heading.table-ttx__heading Сравнительная таблица разных видов обогревателей
      .col-sm-12           
        table.table
          tbody
            tr.table__row
              td.table__item
              td.table__item 
                img.img-responsive(src='img/table1.png' alt='table img')
              td.table__item 
                img.img-responsive(src='img/table2.png' alt='table img')
              td.table__item 
                img.img-responsive(src='img/table3.png' alt='table img')
              td.table__item 
                img.img-responsive(src='img/table4.png' alt='table img')
            tr.table__row
              td.table__item
              td.table__item.table__item--color UFO
              td.table__item.table__item--color Termoplaza
              td.table__item.table__item--color Газовый котел
              td.table__item.table__item--color Электро котел
            tr.table__row
              td.table__item.table__item--name Потребления энергии
              td.table__item 2 кВт/ч
              td.table__item 0,7 кВт/ч
              td.table__item 200м
               sup 3
              td.table__item 3-6 кВт/ч
            tr.table__row.table__row--bg
              td.table__item.table__item--name Безопасность
              td.table__item Пожароопасен 
              td.table__item Абсолютно безопасен 
              td.table__item Безопасен 
              td.table__item Безопасен 
            tr.table__row
              td.table__item.table__item--name Шумность
              td.table__item Бесшумен
              td.table__item Бесшумен
              td.table__item Практически бесшумен
              td.table__item Практически бесшумен
            tr.table__row.table__row--bg
              td.table__item.table__item--name Вес
              td.table__item Легкий
              td.table__item Легче аналогов (около 10 кг) 
              td.table__item 30-50кг 
              td.table__item 30-40кг
            tr.table__row
              td.table__item.table__item--name Эффективность
              td.table__item Эффективен при  локальном  использовании  
              td.table__item Крепиться по принципу обычных батарей, не занимает дополнительного места 
              td.table__item Эфективен как центральное отопление, требует дорогостоящей установки и соответсвия всем нормативным документам
              td.table__item Эфективен для косвенного нагрева воды, а также может служить резервным источником тепла
            tr.table__row.table__row--bg
              td.table__item.table__item--name Обогрев
              td.table__item Точечный инфракрасный (не предназначен для обогрева жилых помещений)
              td.table__item Мягкое инфракрасное тепло + конвекция
              td.table__item Теплоносителем выступает вода
              td.table__item Теплоносителем выступает вода или незамерзающие жидкости
            tr.table__row
              td.table__item.table__item--name Срок эксплуатаци
              td.table__item 6-7 лет
              td.table__item 25 лет
              td.table__item 10 лет
              td.table__item 7-10 лет
            tr.table__row.table__row--bg
              td.table__item.table__item--name Время нагрева
              td.table__item 20 секунд
              td.table__item 2 минуты
              td.table__item 2-3 часа 
              td.table__item 2-3 часа
              
