.table-ttx
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1
        h2.heading.table-ttx__heading Сравнительная таблица разных видов обогревателей
      .hidde-xs.col-sm-12
        .table-ttx__image
          img.img-responsive(src='img/table.png' alt='таблица характеристик')           
