.test
  .container
    .row
      .col-xs-12.col-sm-10.col-sm-offset-1
        h2.heading.test__heading Пройдите тест. За 3 минуты в узнаете, сколько вы сможете экономить с обогревателями Termoplaza
        .test__subheading Ответьте на 10 вопросов и вы получите:
        ul.test__list
          li.test__item Просчет стоимости отопления для вашего помещения 
          li.test__item Варианты комплектов обогревателей подобранные для вас 
          li.test__item Уникальную скидку в конце теста
        button.btn.button.test__btn Пройти тест  