.thanks
  .container
    .row
      .col-xs-12.text-center
        h2.heading.thanks__heading Спасибо! Ваша заявка отправлена
      .col-xs-12.col-sm-6
        .thanks__video
          iframe(src="https://www.youtube.com/embed/r9thhtcq9GM" frameborder="0" allowfullscreen)
      .col-xs-12.col-sm-6.text-center  
        .modal-dialog.buyer__modal
          .modal-content.buyer__content
            .modal__head
              p.modal__subheading.modal__subheading--color-white Оставьте дополнительные контакты и получите рекомендации по выбору обогревателей на 2017 год.
            form.contactForm.modal__form.buyer__modal--inputnotexist(method='post', action='./mail/mail.php', novalidate)
              .row
                .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2.col-lg-6.col-lg-offset-3
                  .form-group
                    input.hidden.form-control.modal__input.modal__input--color-white.form__name(placeholder='Ваш Email', required, data-validation-required-message='Заполните поле корректно.', name='email', type='text')
                    p.help-block.text-danger.text-danger--white
                  .form-group
                    input.hidden.form-control.modal__input.modal__input--color-white.form__phone(placeholder='Ваш телефон', required, data-validation-required-message='Заполните поле корректно.', name='phone', type='tel')
                    p.help-block.text-danger
                  .form-group
                    input.hidden.form-control.modal__input.modal__input--color-white.form__phone(placeholder='Ваше имя', required, data-validation-required-message='Заполните поле корректно.', name='name', type='text')
                    p.help-block.text-danger.text-danger--white
                  .clearfix
                    .success
                  .text-center
                    button.btn.button.buyer__btn(name='Success страница', type='submit', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...") Получить материалы