extends base/_layout.pug
block variables

block styles
  // Fancybox CSS
  link(rel='stylesheet' href='css/jquery.fancybox.css')

block scripts
  // Fancybox JavaScript    
  script(src='js/jquery.fancybox.js')
  script(src='js/jquery.fancybox.pack.js') 
  // Slick-Slider JavaScript
  script(src='js/slick.js')
block content
  header.header
    include components/_nav.pug
    .container
      .row
        .col-xs-12.col-lg-10.col-lg-offset-1.text-center
          h1.header__heading Энергосберегающие обогреватели Termoplaza 
        .col-xs-12.col-sm-8.col-sm-offset-2.text-center  
          .header__subheading равномерно отапливают все помещение, при этом в 2 раза экономичнее и на 300% эффективнее аналогов
          .header__form-title Оставьте свой e-mail адрес и получите полный каталог элетроообогревателей TermoPlaza с актуальными ценами на <b>12.02.2017</b>
        .col-xs-12.col-sm-6.col-sm-offset-3.col-lg-4.col-lg-offset-4  
          form.clearfix.contactForm(name="Регистрация" method="post" action="mail/mail.php")
            .form-group.form__group
              input.form-control.form__input(placeholder="Введите ваш телефон" required="" data-validation-required-message="Please enter your phone number." name="phone" aria-invalid="false" type="tel")
            .text-center
              button.btn.button.button--size( data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...")      Записаться на просмотр коттеджей

  include partials/_intro.pug 
  include partials/_about.pug  
  include partials/_table.pug                     
  include partials/_sort1.pug  
  include partials/_sort2.pug  
  include partials/_test.pug    
  include partials/_condition.pug 
  include partials/_scheme.pug  
  include partials/_sort3.pug 
  include partials/_material.pug   
  include partials/_cost.pug  
  include partials/_quality.pug  
  include partials/_comment.pug  
  include partials/_map.pug  
block footer
  include partials/_footer.pug 