extends base/_layout.pug
block variables

block styles
  // Fancybox CSS
  link(rel='stylesheet' href='css/jquery.fancybox.css')

block scripts
  // Fancybox JavaScript    
  script(src='js/jquery.fancybox.js')
  script(src='js/jquery.fancybox.pack.js') 
  // Slick-Slider JavaScript
  script(src='js/slick.js')
block content
  header.header= relativePath
    include components/_nav.pug
    .container
      .row
        .col-xs-12.col-lg-10.col-lg-offset-1.text-center
          h1.header__heading Энергосберегающие обогреватели Termoplaza 
        .col-xs-12.col-sm-8.col-sm-offset-2.text-center  
          .header__subheading равномерно отапливают все помещение, при этом в 2 раза экономичнее и на 300% эффективнее аналогов
          .header__form-title Оставьте свой e-mail адрес и получите полный каталог электрообогревателей TermoPlaza с актуальными ценами на 
            b.current-day 12.02.2017
        .col-xs-12.col-sm-10.col-sm-offset-1.col-md-8.col-md-offset-2
          form.form(accept-charset='utf-8', action='https://app.getresponse.com/add_subscriber.html', method='post')
            .row
              .col-sm-6
                .form-group.form__group
                  input.form-control.modal__input.form__name.header__input(aria-invalid='false', placeholder='Введите ваш E-mail', required, data-validation-required-message='Заполните поле корректно.', name='email', type='text')
                  p.help-block.text-danger
                .clearfix
                  .col-xs-12
                    .success
              .col-sm-6
                .text-center
                  button#url.btn.button.button--size.button--riple-in(name='form[шапка]', data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Файл отправляется...", type='submit') Получить доступ к каталогу со скидками
                  input#order_page_referer(type='hidden', name='order_page_referer')
                  input(name='campaign_token', type='hidden', value='nyoBG') 
                  input(name='thankyou_url', type='hidden', value='http://tagopen.com/termoplaza/mail/mail.php')
                  input(name='start_day', type='hidden', value='0')
                  input(name='forward_data', type='hidden', value='post')
            script.
              var order_page_referer = document.querySelector("order_page_referer") ;
              document.getElementById("url").onclick = function() {
              order_page_referer.value = window.location.href;
              }
  include partials/_intro.pug 
  include partials/_about.pug  
  include partials/_table.pug                     
  include partials/_sort1.pug  
  include partials/_sort2.pug  
  include partials/_test.pug    
  include partials/_condition.pug 
  include partials/_scheme.pug  
  include partials/_sort3.pug 
  include partials/_material.pug   
  include partials/_cost.pug  
  include partials/_quality.pug  
  include partials/_comment.pug 
  include partials/_buyer.pug  
  include partials/_map.pug  
  include partials/_modals.pug  
block footer
  include partials/_footer.pug 


