extends base/_layout.pug
block variables


block styles

block scripts
block content
  .content
    header.header.header--examnav.navbar.header--margin
      nav.navbar
        div.container
          .row
            .col-xs-12.col-sm-4.col-md-3.navbar__col
              .logo
                a.logo__img(href='#')
                  img.img-responsive(src='img/logo/logo.png' alt='logo')
            .col-xs-12.col-sm-4.col-md-6.text-center    
              p.navbar__text Производство и продажа энергосберегающих 
                br/ 
                | обогревателей с доставкой по Украине  
            .col-xs-12.col-sm-4.col-md-3.pull-right
              .navbar__contact.contact
                .contact__phone
                  .contact__number
                    a.contact__link(href="tel:+380504002969") +38 (050) 400-29-69
                  .contact__number
                    a.contact__link(href="tel:+380676201871") +38 (067) 620-18-71
      include partials/_thanks.pug
